{{ define "main" }}
<div class="flex flex-col-reverse lg:flex-row justify-between m-auto">
  <!-- main -->
  <div class="w-full lg:w-5/6 lg:mt-24">
      <div class="max-w-screen-md m-auto">
        <img class="mt-10 lg:mt-20 lg:w-1/2" src="/images/{{ with .Title }}{{ . | safeHTML }}{{ end }}-top-title.png">
        <div class="m-4 mt-16 text-base leading-6">
          {{ .Content | safeHTML }}
        </div>
      </div>
  </div>
  <!-- menu -->
  <div class="flex flex-col lg:flex w-full lg:w-1/6 lg:place-items-end lg:mx-8">
    <div class="lg:mt-10">
        <a href="/{{ .Language.Lang }}">
          <img class="my-2 hidden lg:block" src="/{{ .Language.Lang }}/images/title-second.png">
          <img class="mx-6 mt-4 block lg:hidden" src="/images/mobile-title.png">
        </a>
    </div> 

<!-- lang -->
<div class="my-6 ml-4 lg:mt-0 lg:mb-10">
  {{ $p := .Title }}

<div class="hidden lg:flex h-10 mr-10">
    {{ range $.Site.Home.AllTranslations.Reverse }}
    <a href="{{ .Permalink }}{{ $p }}">
    <img class="h-10" src="/{{ .Language.Lang }}/images/lang-{{ .Language.Lang }}.png">
    </a>
    {{ end }}
</div>
<div class="flex lg:hidden h-12">
    {{ range $.Site.Home.AllTranslations.Reverse }}
    <a href="{{ .Permalink }}{{ $p }}">
    <img src="/{{ .Language.Lang }}/images/mobile-lang-{{ .Language.Lang }}.png">
    </a>
    {{ end }}
</div>
</div>

   <!-- nav -->
    {{- partial "nav.html" . -}}
  </div>
</div>

<script type="text/javascript">
</script>
{{ end }}
