<!-- language-->
<div class="my-6 ml-4 lg:mt-0 lg:mb-10">
    {{- partial "allLanguages.html" . -}}
</div>
<div class="flex flex-col mt-4 lg:ml-4 lg:place-items-end">
  <a href="/{{ .Language.Lang }}/information">
    <img alt="information" class="hidden lg:block h-8" src="/images/side-menu-information-w-full.png">
    {{ if .IsHome }}
    <img alt="information" class="block lg:hidden w-full" src="/images/category-information.png">
    {{ else }}
    <img alt="information" class="block lg:hidden h-8 ml-4" src="/images/side-menu-information.png">
    {{ end }}
  </a>
  <a href="/{{ .Language.Lang }}/artist">
    <img alt="artist" class="hidden lg:block h-8" src="/images/side-menu-artist-w-full.png">
    {{ if .IsHome }}
    <img alt="artist" class="block lg:hidden w-full" src="/images/category-artist.png">
    {{ else }}
    <img alt="artist" class="block lg:hidden h-8 ml-4" src="/images/side-menu-artist.png">
    {{ end }}  
  </a>
  <a href="/{{ .Language.Lang }}/talk">
    <img alt="talk" class="hidden lg:block h-8" src="/images/side-menu-talk-w-full.png">
    {{ if .IsHome }}    
    <img alt="talk" class="block lg:hidden w-full" src="/images/category-talk.png">
    {{ else }}
    <img alt="talk" class="block lg:hidden h-8 ml-4" src="/images/side-menu-talk.png">
    {{ end }} 
  </a>
  <a href="/{{ .Language.Lang }}/archive">
    <img alt="archive" class="hidden lg:block h-8" src="/images/side-menu-archive-w-full.png">
    {{ if .IsHome }}
    <img alt="archive" class="block lg:hidden w-full" src="/images/category-archive.png">
    {{ else }}
    <img alt="archive" class="block lg:hidden h-8 ml-4" src="/images/side-menu-archive.png">
    {{ end }}   
  </a>
  <a href="/{{ .Language.Lang }}/news">
    <img alt="news" class="hidden lg:block h-8" src="/images/side-menu-news-w-full.png">
    {{ if .IsHome }}
    <img alt="news" class="block lg:hidden w-full" src="/images/category-news.png">
    {{ else }}
    <img alt="news" class="block lg:hidden h-8 ml-4" src="/images/side-menu-news.png">
    {{ end }}       
  </a>
  </div>