{{ define "main" }}

<style>
 .overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   transition: opacity 100ms;
   visibility: visible;
   opacity: 1;
 }
 .overlay:target {
   visibility: hidden;
   opacity: 0;
   display: none;
 }

 .popup {
   margin: 20px auto;
   padding: 20px;
   background: #fff;
   border-radius: 5px;
   /* width: 90%; */
   position: relative;
   transition: all 1s ease-in-out;
   opacity: 1;
 }

 .popup h2 {
   margin-top: 0;
   color: #333;
   font-family: Tahoma, Arial, sans-serif;
 }
 .popup .close {
   position: absolute;
   top: 30px;
   right: 40px;
   transition: all 200ms;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: #FF0000;
 }

 .popup .close:hover {
   color: #000000;
 }

</style>

<!-- mobile popup-->
<div id="popup-off" class="block lg:hidden lg:max-w-screen-sm m-auto overlay z-50 close" >
  <div class="popup h-screen">
    <a href="#popup-off">
      <div class="block lg:hidden mt-0 p-2 b border-2" style="border-color: #ff0000">
        <img src="/images/mobile-main.png">
      </div>
  </a>
  </div>
</div>

<div class="flex flex-col-reverse lg:flex-row justify-between m-auto">
  <!-- main -->
  <div class="flex flex-col w-full lg:w-5/6">
    <div>
      <img class="hidden lg:block" src="/images/main.png">
    </div>
    <div class="m-4 lg:m-10 flex flex-row">
      <img class="h-10 lg:h-12 pr-4" src="/images/arko-red.png">
      <a href="https://www.instagram.com/body_manifesto">
        <img class="h-10 lg:h-12 p-2" src="https://0makes0.com/images/instagram.svg">
      </a>
      <a href="https://www.facebook.com/bodymanifesto2021">
        <img class="h-10 lg:h-12 p-2" src="https://0makes0.com/images/facebook.svg">
      </a>
      <a href="https://twitter.com/body_manifesto">
        <img class="h-10 lg:h-12 p-2" src="https://0makes0.com/images/twitter.svg">
      </a>
    </div>
  </div>
  <!-- menu -->
  <div class="flex flex-col lg:flex w-full lg:w-1/6 lg:place-items-end lg:mx-4">
    <div class="lg:mt-10">
        <a href="/{{ .Language.Lang }}">
          <img class="my-2 hidden lg:block" src="/images/title.png">
          <img class="mx-6 mt-4 block lg:hidden" src="/images/mobile-title.png">
        </a>
    </div>

   <!-- lang -->
<div class="my-6 ml-4 lg:mt-0 lg:mb-10">
  {{ $p := .Title }}
  {{ if .IsHome }}{{ $p = "" }}{{ end }}

<div class="hidden lg:flex h-10 mr-10">
    {{ range $.Site.Home.AllTranslations.Reverse }}
    <a href="{{ .Permalink }}{{ $p }}">
    <img class="h-10" src="/{{ .Language.Lang }}/images/lang-{{ .Language.Lang }}.png">
    </a>
    {{ end }}
</div>
<div class="flex lg:hidden h-12">
    {{ range $.Site.Home.AllTranslations.Reverse }}
    <a href="{{ .Permalink }}{{ $p }}">
    <img src="/{{ .Language.Lang }}/images/mobile-lang-{{ .Language.Lang }}.png">
    </a>
    {{ end }}
</div>
</div>

    {{- partial "nav.html" . -}}
  </div>
</div>

<script type="text/javascript">
</script>
{{ end }}
