{{ $instagramFeed := getJSON "https://v1.nocodeapi.com/donghee/instagram/MhwDwwqNmIXvUPEP" }}

{{ range $instagramFeed.data}}
{{ $item := . }}
<div>
  <h2 class="text-xl mb-2">
    {{ replace $item.timestamp "T" " " }}
  </h2>
  <a href="{{ $item.permalink | absURL }}">
    {{ if eq ($item.media_type | string) "VIDEO"  }} <video src="{{ $item.media_url |absURL}}"/> {{ else }} <img src="{{ $item.media_url | absURL }}"/> {{ end }}
  </a>
  <br/>
  <span>
    {{ $item.caption }}
  </span>
  <br/>
  <br/>
</div>
{{ end }}
